body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
}

header nav {
    margin-top: 10px;
    margin-right: 50px;
}

header nav .button {
    background-color: white;
    color: blue;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

header nav .button:hover {
    background-color: lightblue;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    padding: 20px;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
}

.header-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 30px;
}

.event
